
div{

background-color: yellow;
height: 100px;
margin: 0px;
width: 300px
}
#i{
background-color: blue;
height: 100px;
margin: 0px;
width: 300px;
}
.h{
background-color: red;
height: 100px;
	width: 300px;
margin: 0px;
 
      